<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/events_presenters">Events_Presenters</a></h1>
  <h3><a href="/events_presenters/<%= events_presenter.id %>">Back</a></h3>
  <hr>
  <p>id: <%= events_presenter.id %></p>
  <form action="/events_presenters/<%= events_presenter.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" value="<%= events_presenter.id %>">

    <label for="event_id">event_id: </label>
    <input type="text" name="event_id" value="<%= events_presenter.event_id %>">

    <br><br>

    <label for="presenter_id">presenter_id: </label>
    <input type="text" name="presenter_id" value="<%= events_presenter.presenter_id %>">

    <br><br>

    <button>Update</button>
  </form>
  <br>
  <form action="/events_presenters/<%= events_presenter.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>
  <hr>
</body>
</html>