<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/all">all tables</a></h1>
  <h2><a href="/<%= table.name %>"><%= table.name %></a></h1>
  <h3><a href="/<%= table.name %>/new">create new</a></h3>
  <hr>
  <% items.forEach(function(item) { %>
    <% for (var key in item) { %>
      <p><%= key %>: <%= item[key] %></p>
    <% } %>
    <a href="/<%= table.name %>/<%= item.id %>"><button>View</button></a>
    <a href="/<%= table.name %>/<%= item.id %>/edit"><button>Edit</button></a>
    <form action="/<%= table.name %>/<%= item.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
    <hr>
  <% }) %>
</body>
</html>