<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/all">all tables</a></h1>
  <h2><a href="/<%= table.name %>"><%= table.name %></a></h1>
  <h3><a href="/<%= table.name %>">Back</a></h3>
  <hr>
  <form action="/<%= table.name %>" method="post">
    <input type="hidden" name="_method" value="post">
    <% table.columns.forEach(function(column) { %>
        <% if (column.column_name !== 'id') { %>
        <label for="<%= column.column_name %>"><%= column.column_name %>: </label>
        <input type="text" name="<%= column.column_name %>">
        <br><br>
      <% } %>
    <% }) %>
    <button>Create</button>
  </form>
  <hr>
</body>
</html>