<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/venues">Venues</a></h1>
  <h3><a href="/admin">Back</a></h3>
  <h3><a href="/venues/new">Create New</a></h3>
  <hr>
  <% venues.forEach(function(venue) { %>
    <% Object.keys(venue).forEach(function(key) { %>
      <p><%= key %>: <%= venue[key] %></p>
    <% }) %>
    <a href="/venues/<%= venue.id %>"><button>View</button></a>
    <a href="/venues/<%= venue.id %>/edit"><button>Edit</button></a>
    <form action="/venues/<%= venue.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
    <hr>
  <% }) %>
</body>
</html>