<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><a href="/users">Users</a></h1>
  <h3><a href="/users/<%= user.id %>">Back</a></h3>
  <hr>
  <p>id: <%= user.id %></p>
  <form action="/users/<%= user.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="id" value="<%= user.id %>">

    <label for="first_name">first_name: </label>
    <input type="text" name="first_name" value="<%= user.first_name %>">

    <br><br>

    <label for="last_name">last_name: </label>
    <input type="text" name="last_name" value="<%= user.last_name %>">

    <br><br>

    <label for="email">email: </label>
    <input type="text" name="email" value="<%= user.email %>">

    <br><br>

    <label for="username">username: </label>
    <input type="text" name="username" value="<%= user.username %>">

    <br><br>

    <label for="password_digest">password_digest: </label>
    <input type="text" name="password_digest" value="<%= user.password_digest %>">

    <br><br>

    <button>Update</button>
  </form>
  <br>
  <form action="/users/<%= user.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
  </form>
  <hr>
</body>
</html>